.list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  list-style: none;
}

@media (max-width: 768px) {
  .list {
    max-width: 393px;
    margin-left: auto;
    margin-right: auto;
    padding: 17px;
  }
}

.listItem {
  display: flex;
  justify-content: space-between;
  background-color: #f9fafb;
  padding: 16px;
  min-height: 55px;
  align-items: center;
}

.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #131927;
}
