.subTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #131927;
}

.input {
  border: 1.5px solid #e5e7ea;
  border-radius: 8px;
  padding: 8px 12px;
  width: 269px;
  height: 36px;
  background-color: #f9fafb;
}

.input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #9ea2ae;
}

.btn {
  border-radius: 12px;
  width: 76px;
  height: 40px;
  background-color: #4e61f6;
  border: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  color: #fff;
  margin-left: 5px;
}